@import url(reset.css);

body {
  background-color: black ;
}
p{
  color: white;
  text-align: center;
  width: 792px;
  height: 38px;
}

h1, h2 {
  text-transform: uppercase;
  color: #33A8DB;
  width: 477px;
  height: 38px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
}

.logo {
 
  width: 248px;
  height: 214px;
  left: 131px;
  top: 27px;
}
button:hover {
  box-shadow: 0px 0px 5px rgb(244, 245, 247); 
}

button{
  color: #33A8DB;
  background-position: center;
  background-color: transparent;
  font-size: 16 px;
  padding: 16px 32px;
  text-transform: uppercase;
  border: solid 2px;
  border-color: #33A8DB;
  cursor: pointer;
  font-weight: bold;
  
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(assets/images/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding-top: 60px;
  border-bottom: 1px solid #33A8DB80;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  
  background: -webkit-linear-gradient(#33A8DB, #1472B7);
  background-clip: text;
  -webkit-background-clip: text;
}

.banner p {
  font-size: 1.25rem;
  margin: 16px 0 24px;
}

.module {
  background-color: #252525 ;
  border: 1px solid #33A8DB ;
  width: 535px;
  height: 51px;
  border-radius: 57px;
  margin: 30px;
  display: flex;
  padding: 16px 127px;
  text-align: center;
  color: white;
  box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
}

span {
  color: #33A8DB;
}

#course-content {
  
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 300px;
  align-items: center;
  
}



#transform-world {
  height: 520px;
  background-image: url(assets/images/woman-code.png);
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
  border-top: #31A8DD 1px solid;
  border-bottom: #31A8DD 1px solid;
  padding-top: 200px;
  margin: 0;
}

#transform-world-p {
 
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  color: #FFFFFF;
  text-shadow: 3px 2px 0px #33A8DB;
  
}

#professional-challenges {
  background-color: black;
  
  display: flex;
  justify-content: center;
  flex-direction: column ;
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
  width: 800px; 
 
}
section{
  margin: 100px  auto;
}

.evolua {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #33A8DB;
  width: 740px;
}
.img-professional{
  margin: 35px;
  width: 659px;
  height: 429px;
  left: 390px;
  top: 1685px;
  
}

.p-junte {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 792px;
  height: 76px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    background-color: black;
    border-top: #1472B7 solid 1px;
    padding-top: 60px;
    padding-bottom: 40px;
}
